--
-- PostgreSQL database dump
--

\restrict N6wjXfQYfk0OZ4QAbKuOW3xBqnD5DLDTTdhmhZg7t6nOfiAlq6RSuuS0Zmvmbue

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: branches_branch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.branches_branch (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    address text NOT NULL,
    phone character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    manager_email character varying(254) NOT NULL
);


ALTER TABLE public.branches_branch OWNER TO postgres;

--
-- Name: branches_branch_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.branches_branch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.branches_branch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customers_customer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers_customer (
    id bigint NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(254),
    phone character varying(20) NOT NULL,
    gender character varying(10) NOT NULL,
    address text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    branch_id bigint
);


ALTER TABLE public.customers_customer OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.customers_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customers_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: finance_dailyplsnapshot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_dailyplsnapshot (
    id bigint NOT NULL,
    snapshot_date date CONSTRAINT finance_dailyplsnapshot_date_not_null NOT NULL,
    total_revenue numeric(14,2) NOT NULL,
    total_expenses numeric(14,2) NOT NULL,
    cogs numeric(14,2) NOT NULL,
    net_profit numeric(14,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL,
    discount_total numeric(14,2) NOT NULL,
    gross_margin_pct numeric(5,2) NOT NULL,
    gross_profit numeric(14,2) NOT NULL,
    manual_expenses numeric(14,2) NOT NULL,
    manual_revenue numeric(14,2) NOT NULL,
    net_margin_pct numeric(5,2) NOT NULL,
    net_sales numeric(14,2) NOT NULL,
    order_count integer NOT NULL,
    sales_revenue numeric(14,2) NOT NULL,
    supplier_payments numeric(14,2) NOT NULL,
    total_collected numeric(14,2) NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.finance_dailyplsnapshot OWNER TO postgres;

--
-- Name: finance_dailyplsnapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.finance_dailyplsnapshot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_dailyplsnapshot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_expense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_expense (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    receipt character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL,
    category_id bigint
);


ALTER TABLE public.finance_expense OWNER TO postgres;

--
-- Name: finance_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.finance_expense ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_expense_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_expensecategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_expensecategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.finance_expensecategory OWNER TO postgres;

--
-- Name: finance_expensecategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.finance_expensecategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_expensecategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_profitlossreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_profitlossreport (
    id bigint NOT NULL,
    period character varying(10) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    total_revenue numeric(12,2) NOT NULL,
    total_expenses numeric(12,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL
);


ALTER TABLE public.finance_profitlossreport OWNER TO postgres;

--
-- Name: finance_profitlossreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.finance_profitlossreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_profitlossreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: finance_revenue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_revenue (
    id bigint NOT NULL,
    source character varying(20) NOT NULL,
    description text NOT NULL,
    amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    created_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL
);


ALTER TABLE public.finance_revenue OWNER TO postgres;

--
-- Name: finance_revenue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.finance_revenue ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.finance_revenue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    order_number character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    payment_status character varying(20) NOT NULL,
    payment_method character varying(20) NOT NULL,
    notes text NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL,
    customer_id bigint,
    created_by_id integer,
    deposit_amount numeric(10,2) NOT NULL,
    discount_amount numeric(10,2) NOT NULL,
    discount_approved_by_id integer,
    discount_reason character varying(255) NOT NULL,
    estimated_completion date,
    transaction_type character varying(20) NOT NULL,
    guest_address text NOT NULL,
    guest_email character varying(254) NOT NULL,
    guest_phone character varying(50) NOT NULL
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderidempotencyrecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderidempotencyrecord (
    id bigint NOT NULL,
    key character varying(255) NOT NULL,
    endpoint character varying(255) NOT NULL,
    method character varying(10) NOT NULL,
    request_body jsonb,
    response_code smallint,
    response_body jsonb,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT orders_orderidempotencyrecord_response_code_check CHECK ((response_code >= 0))
);


ALTER TABLE public.orders_orderidempotencyrecord OWNER TO postgres;

--
-- Name: orders_orderidempotencyrecord_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderidempotencyrecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderidempotencyrecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    customization_details text NOT NULL,
    customization_price numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint,
    variant_id bigint,
    final_unit_price numeric(10,2),
    override_price numeric(10,2),
    override_reason character varying(255) NOT NULL,
    stock_status_at_sale character varying(20) NOT NULL,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem_services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem_services (
    id bigint NOT NULL,
    orderitem_id bigint NOT NULL,
    customizationservice_id bigint NOT NULL
);


ALTER TABLE public.orders_orderitem_services OWNER TO postgres;

--
-- Name: orders_orderitem_services_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem_services ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_payment (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    method character varying(20) NOT NULL,
    payment_type character varying(20) NOT NULL,
    reference character varying(100) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.orders_payment OWNER TO postgres;

--
-- Name: orders_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_stockreservation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_stockreservation (
    id bigint NOT NULL,
    reserved_quantity integer NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    variant_id bigint NOT NULL,
    CONSTRAINT orders_stockreservation_reserved_quantity_check CHECK ((reserved_quantity >= 0))
);


ALTER TABLE public.orders_stockreservation OWNER TO postgres;

--
-- Name: orders_stockreservation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_stockreservation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_stockreservation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.products_category OWNER TO postgres;

--
-- Name: products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_customizationservice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_customizationservice (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.products_customizationservice OWNER TO postgres;

--
-- Name: products_customizationservice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_customizationservice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_customizationservice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    item_type character varying(20) NOT NULL,
    base_price numeric(10,2) NOT NULL,
    customization_price numeric(10,2) NOT NULL,
    stock_quantity integer NOT NULL,
    low_stock_threshold integer NOT NULL,
    image character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL,
    category_id bigint,
    CONSTRAINT products_product_low_stock_threshold_check CHECK ((low_stock_threshold >= 0)),
    CONSTRAINT products_product_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.products_product OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productvariant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productvariant (
    id bigint NOT NULL,
    size character varying(10) NOT NULL,
    color character varying(50) NOT NULL,
    stock_quantity integer NOT NULL,
    extra_price numeric(10,2) NOT NULL,
    is_available boolean NOT NULL,
    product_id bigint NOT NULL,
    committed_quantity integer NOT NULL,
    cost_price numeric(10,2) NOT NULL,
    CONSTRAINT products_productvariant_committed_quantity_check CHECK ((committed_quantity >= 0)),
    CONSTRAINT products_productvariant_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.products_productvariant OWNER TO postgres;

--
-- Name: products_productvariant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productvariant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productvariant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suppliers_purchase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers_purchase (
    id bigint NOT NULL,
    purchase_number character varying(20) NOT NULL,
    status character varying(25) NOT NULL,
    payment_status character varying(20) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    amount_paid numeric(10,2) NOT NULL,
    notes text NOT NULL,
    purchase_date date NOT NULL,
    expected_delivery date,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    branch_id bigint NOT NULL,
    supplier_id bigint
);


ALTER TABLE public.suppliers_purchase OWNER TO postgres;

--
-- Name: suppliers_purchase_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.suppliers_purchase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_purchase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suppliers_purchaseitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers_purchaseitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    product_id bigint,
    purchase_id bigint NOT NULL,
    CONSTRAINT suppliers_purchaseitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.suppliers_purchaseitem OWNER TO postgres;

--
-- Name: suppliers_purchaseitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.suppliers_purchaseitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_purchaseitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suppliers_supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers_supplier (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    contact_person character varying(100) NOT NULL,
    email character varying(254),
    phone character varying(20) NOT NULL,
    address text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.suppliers_supplier OWNER TO postgres;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.suppliers_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_supplier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$1200000$ntZyTiTeMvqchRLRX0bxJ1$GGzAHZgZDIR04w0AChRL0DLO6xDP4rOajYpexhlMi60=	2026-04-04 16:22:42.732+01	t	nettzenergy			machelchimwaza04@gmail.com	t	t	2026-03-30 01:17:22.344+01
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: branches_branch; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: customers_customer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: finance_dailyplsnapshot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: finance_expense; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.finance_expense (id, title, description, amount, date, receipt, created_at, updated_at, branch_id, category_id) FROM stdin;
\.


--
-- Data for Name: finance_expensecategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.finance_expensecategory (id, name, description) FROM stdin;
1	Transport	when collecting stock and doing deliveries
\.


--
-- Data for Name: finance_profitlossreport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.finance_profitlossreport (id, period, start_date, end_date, total_revenue, total_expenses, created_at, branch_id) FROM stdin;
\.


--
-- Data for Name: finance_revenue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.finance_revenue (id, source, description, amount, date, created_at, branch_id) FROM stdin;
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_orderidempotencyrecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_orderidempotencyrecord (id, key, endpoint, method, request_body, response_code, response_body, created_at, updated_at) FROM stdin;
6	009038af-d62b-492c-99d8-8e1f4a3c36de	/api/orders/	POST	{"order_number": "ORD-00044"}	201	{"id": 1381, "order_number": "ORD-00044"}	2026-04-14 14:44:01.54+01	2026-04-14 14:44:01.54+01
\.


--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders_orderitem_services; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_orderitem_services (id, orderitem_id, customizationservice_id) FROM stdin;
\.


--
-- Data for Name: orders_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_payment (id, amount, method, payment_type, reference, notes, created_at, order_id) FROM stdin;
36	32.00	card	payment		QA payment	2026-04-14 14:44:01.613+01	1382
\.


--
-- Data for Name: orders_stockreservation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders_stockreservation (id, reserved_quantity, expires_at, active, created_at, updated_at, order_id, variant_id) FROM stdin;
\.


--
-- Data for Name: products_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_category (id, name, description) FROM stdin;
235	Category 1	Description 1
236	Category 2	Description 2
237	Category 3	Description 3
238	Category 4	Description 4
239	Category 5	Description 5
240	Category 6	Description 6
241	Category 7	Description 7
242	Category 8	Description 8
243	Category 9	Description 9
244	Category 10	Description 10
\.


--
-- Data for Name: products_customizationservice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products_customizationservice (id, name, description, price, is_active, created_at) FROM stdin;
1	Logo Printing		500.00	t	2026-04-04 16:25:06.285+01
\.


--
-- Data for Name: products_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products_productvariant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers_purchase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers_purchase (id, purchase_number, status, payment_status, total_amount, amount_paid, notes, purchase_date, expected_delivery, created_at, updated_at, branch_id, supplier_id) FROM stdin;
\.


--
-- Data for Name: suppliers_purchaseitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers_purchaseitem (id, quantity, unit_price, product_id, purchase_id) FROM stdin;
\.


--
-- Data for Name: suppliers_supplier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers_supplier (id, name, contact_person, email, phone, address, is_active, created_at, updated_at) FROM stdin;
1	Jonathan Chimwaza	Jonathan Chimwaza	Chimwazajonathan@3gmail.com	0691259466	28 Sinclair, Selection Park	t	2026-03-30 01:39:11.844+01	2026-03-30 01:39:11.845+01
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 100, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: branches_branch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.branches_branch_id_seq', 124, true);


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 2304, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 17, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 25, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: finance_dailyplsnapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.finance_dailyplsnapshot_id_seq', 76, true);


--
-- Name: finance_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.finance_expense_id_seq', 1, true);


--
-- Name: finance_expensecategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.finance_expensecategory_id_seq', 2, true);


--
-- Name: finance_profitlossreport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.finance_profitlossreport_id_seq', 1, false);


--
-- Name: finance_revenue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.finance_revenue_id_seq', 1, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 1405, true);


--
-- Name: orders_orderidempotencyrecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderidempotencyrecord_id_seq', 6, true);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 319, true);


--
-- Name: orders_orderitem_services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_orderitem_services_id_seq', 1, false);


--
-- Name: orders_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_payment_id_seq', 36, true);


--
-- Name: orders_stockreservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_stockreservation_id_seq', 1, false);


--
-- Name: products_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_category_id_seq', 244, true);


--
-- Name: products_customizationservice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_customizationservice_id_seq', 1, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 5762, true);


--
-- Name: products_productvariant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_productvariant_id_seq', 11483, true);


--
-- Name: suppliers_purchase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_purchase_id_seq', 1, false);


--
-- Name: suppliers_purchaseitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_purchaseitem_id_seq', 1, false);


--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_supplier_id_seq', 3, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: branches_branch branches_branch_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches_branch
    ADD CONSTRAINT branches_branch_email_key UNIQUE (email);


--
-- Name: branches_branch branches_branch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.branches_branch
    ADD CONSTRAINT branches_branch_pkey PRIMARY KEY (id);


--
-- Name: customers_customer customers_customer_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_email_key UNIQUE (email);


--
-- Name: customers_customer customers_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: finance_dailyplsnapshot finance_dailyplsnapshot_branch_id_date_311c772f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_dailyplsnapshot
    ADD CONSTRAINT finance_dailyplsnapshot_branch_id_date_311c772f_uniq UNIQUE (branch_id, snapshot_date);


--
-- Name: finance_dailyplsnapshot finance_dailyplsnapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_dailyplsnapshot
    ADD CONSTRAINT finance_dailyplsnapshot_pkey PRIMARY KEY (id);


--
-- Name: finance_expense finance_expense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_pkey PRIMARY KEY (id);


--
-- Name: finance_expensecategory finance_expensecategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_expensecategory
    ADD CONSTRAINT finance_expensecategory_pkey PRIMARY KEY (id);


--
-- Name: finance_profitlossreport finance_profitlossreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_profitlossreport
    ADD CONSTRAINT finance_profitlossreport_pkey PRIMARY KEY (id);


--
-- Name: finance_revenue finance_revenue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_revenue
    ADD CONSTRAINT finance_revenue_pkey PRIMARY KEY (id);


--
-- Name: orders_order orders_order_order_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_order_number_key UNIQUE (order_number);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderidempotencyrecord orders_orderidempotencyrecord_endpoint_key_method_5f2a2df3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderidempotencyrecord
    ADD CONSTRAINT orders_orderidempotencyrecord_endpoint_key_method_5f2a2df3_uniq UNIQUE (endpoint, key, method);


--
-- Name: orders_orderidempotencyrecord orders_orderidempotencyrecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderidempotencyrecord
    ADD CONSTRAINT orders_orderidempotencyrecord_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem_services orders_orderitem_service_orderitem_id_customizati_2031c6be_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem_services
    ADD CONSTRAINT orders_orderitem_service_orderitem_id_customizati_2031c6be_uniq UNIQUE (orderitem_id, customizationservice_id);


--
-- Name: orders_orderitem_services orders_orderitem_services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem_services
    ADD CONSTRAINT orders_orderitem_services_pkey PRIMARY KEY (id);


--
-- Name: orders_payment orders_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_payment
    ADD CONSTRAINT orders_payment_pkey PRIMARY KEY (id);


--
-- Name: orders_stockreservation orders_stockreservation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_stockreservation
    ADD CONSTRAINT orders_stockreservation_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_pkey PRIMARY KEY (id);


--
-- Name: products_customizationservice products_customizationservice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_customizationservice
    ADD CONSTRAINT products_customizationservice_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: products_productvariant products_productvariant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvariant_pkey PRIMARY KEY (id);


--
-- Name: products_productvariant products_productvariant_product_id_size_color_120996eb_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvariant_product_id_size_color_120996eb_uniq UNIQUE (product_id, size, color);


--
-- Name: suppliers_purchase suppliers_purchase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchase
    ADD CONSTRAINT suppliers_purchase_pkey PRIMARY KEY (id);


--
-- Name: suppliers_purchase suppliers_purchase_purchase_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchase
    ADD CONSTRAINT suppliers_purchase_purchase_number_key UNIQUE (purchase_number);


--
-- Name: suppliers_purchaseitem suppliers_purchaseitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchaseitem
    ADD CONSTRAINT suppliers_purchaseitem_pkey PRIMARY KEY (id);


--
-- Name: suppliers_supplier suppliers_supplier_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_supplier
    ADD CONSTRAINT suppliers_supplier_email_key UNIQUE (email);


--
-- Name: suppliers_supplier suppliers_supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_supplier
    ADD CONSTRAINT suppliers_supplier_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: branches_branch_email_2eb8b8a9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX branches_branch_email_2eb8b8a9_like ON public.branches_branch USING btree (email varchar_pattern_ops);


--
-- Name: customers_customer_branch_id_6f75e537; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX customers_customer_branch_id_6f75e537 ON public.customers_customer USING btree (branch_id);


--
-- Name: customers_customer_email_300e404b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX customers_customer_email_300e404b_like ON public.customers_customer USING btree (email varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: finance_dai_branch__1b2098_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_dai_branch__1b2098_idx ON public.finance_dailyplsnapshot USING btree (branch_id, snapshot_date DESC);


--
-- Name: finance_dai_snapsho_4ef38a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_dai_snapsho_4ef38a_idx ON public.finance_dailyplsnapshot USING btree (snapshot_date DESC);


--
-- Name: finance_dailyplsnapshot_branch_id_74d9def2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_dailyplsnapshot_branch_id_74d9def2 ON public.finance_dailyplsnapshot USING btree (branch_id);


--
-- Name: finance_expense_branch_id_de4b79eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_expense_branch_id_de4b79eb ON public.finance_expense USING btree (branch_id);


--
-- Name: finance_expense_category_id_19b015b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_expense_category_id_19b015b6 ON public.finance_expense USING btree (category_id);


--
-- Name: finance_profitlossreport_branch_id_f0061103; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_profitlossreport_branch_id_f0061103 ON public.finance_profitlossreport USING btree (branch_id);


--
-- Name: finance_revenue_branch_id_8af9ba16; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX finance_revenue_branch_id_8af9ba16 ON public.finance_revenue USING btree (branch_id);


--
-- Name: orders_orde_created_0e92de_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_created_0e92de_idx ON public.orders_order USING btree (created_at);


--
-- Name: orders_orde_endpoin_8dcbe9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_endpoin_8dcbe9_idx ON public.orders_orderidempotencyrecord USING btree (endpoint, key, method);


--
-- Name: orders_orde_payment_bc131d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_payment_bc131d_idx ON public.orders_order USING btree (payment_status);


--
-- Name: orders_orde_status_c6dd84_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_status_c6dd84_idx ON public.orders_order USING btree (status);


--
-- Name: orders_orde_transac_efd231_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_transac_efd231_idx ON public.orders_order USING btree (transaction_type);


--
-- Name: orders_order_branch_id_c857b51d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_branch_id_c857b51d ON public.orders_order USING btree (branch_id);


--
-- Name: orders_order_created_by_id_d5f5e69c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_created_by_id_d5f5e69c ON public.orders_order USING btree (created_by_id);


--
-- Name: orders_order_customer_id_0b76f6a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_customer_id_0b76f6a4 ON public.orders_order USING btree (customer_id);


--
-- Name: orders_order_discount_approved_by_id_ba5350fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_discount_approved_by_id_ba5350fe ON public.orders_order USING btree (discount_approved_by_id);


--
-- Name: orders_order_order_number_4e985f70_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_order_number_4e985f70_like ON public.orders_order USING btree (order_number varchar_pattern_ops);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: orders_orderitem_services_customizationservice_id_bc682e28; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_services_customizationservice_id_bc682e28 ON public.orders_orderitem_services USING btree (customizationservice_id);


--
-- Name: orders_orderitem_services_orderitem_id_15c63c60; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_services_orderitem_id_15c63c60 ON public.orders_orderitem_services USING btree (orderitem_id);


--
-- Name: orders_orderitem_variant_id_5d350ded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_variant_id_5d350ded ON public.orders_orderitem USING btree (variant_id);


--
-- Name: orders_payment_order_id_bdccf250; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_payment_order_id_bdccf250 ON public.orders_payment USING btree (order_id);


--
-- Name: orders_stoc_active_0b9707_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_stoc_active_0b9707_idx ON public.orders_stockreservation USING btree (active);


--
-- Name: orders_stoc_expires_f55a9e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_stoc_expires_f55a9e_idx ON public.orders_stockreservation USING btree (expires_at);


--
-- Name: orders_stockreservation_order_id_7fe1d856; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_stockreservation_order_id_7fe1d856 ON public.orders_stockreservation USING btree (order_id);


--
-- Name: orders_stockreservation_variant_id_7068c0fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_stockreservation_variant_id_7068c0fe ON public.orders_stockreservation USING btree (variant_id);


--
-- Name: products_product_branch_id_b6144265; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_branch_id_b6144265 ON public.products_product USING btree (branch_id);


--
-- Name: products_product_category_id_9b594869; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_category_id_9b594869 ON public.products_product USING btree (category_id);


--
-- Name: products_productvariant_product_id_d9c22902; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productvariant_product_id_d9c22902 ON public.products_productvariant USING btree (product_id);


--
-- Name: suppliers_purchase_branch_id_21edb0a6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_purchase_branch_id_21edb0a6 ON public.suppliers_purchase USING btree (branch_id);


--
-- Name: suppliers_purchase_purchase_number_bfd1c4f0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_purchase_purchase_number_bfd1c4f0_like ON public.suppliers_purchase USING btree (purchase_number varchar_pattern_ops);


--
-- Name: suppliers_purchase_supplier_id_9849134e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_purchase_supplier_id_9849134e ON public.suppliers_purchase USING btree (supplier_id);


--
-- Name: suppliers_purchaseitem_product_id_3353caab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_purchaseitem_product_id_3353caab ON public.suppliers_purchaseitem USING btree (product_id);


--
-- Name: suppliers_purchaseitem_purchase_id_09ac05eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_purchaseitem_purchase_id_09ac05eb ON public.suppliers_purchaseitem USING btree (purchase_id);


--
-- Name: suppliers_supplier_email_3610c064_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_supplier_email_3610c064_like ON public.suppliers_supplier USING btree (email varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customers_customer customers_customer_branch_id_6f75e537_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_branch_id_6f75e537_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_dailyplsnapshot finance_dailyplsnaps_branch_id_74d9def2_fk_branches_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_dailyplsnapshot
    ADD CONSTRAINT finance_dailyplsnaps_branch_id_74d9def2_fk_branches_ FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_expense finance_expense_branch_id_de4b79eb_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_branch_id_de4b79eb_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_expense finance_expense_category_id_19b015b6_fk_finance_e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_expense
    ADD CONSTRAINT finance_expense_category_id_19b015b6_fk_finance_e FOREIGN KEY (category_id) REFERENCES public.finance_expensecategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_profitlossreport finance_profitlossre_branch_id_f0061103_fk_branches_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_profitlossreport
    ADD CONSTRAINT finance_profitlossre_branch_id_f0061103_fk_branches_ FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: finance_revenue finance_revenue_branch_id_8af9ba16_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_revenue
    ADD CONSTRAINT finance_revenue_branch_id_8af9ba16_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_branch_id_c857b51d_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_branch_id_c857b51d_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_created_by_id_d5f5e69c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_created_by_id_d5f5e69c_fk_auth_user_id FOREIGN KEY (created_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_customer_id_0b76f6a4_fk_customers_customer_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_customer_id_0b76f6a4_fk_customers_customer_id FOREIGN KEY (customer_id) REFERENCES public.customers_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_discount_approved_by_id_ba5350fe_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_discount_approved_by_id_ba5350fe_fk_auth_user_id FOREIGN KEY (discount_approved_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem_services orders_orderitem_ser_customizationservice_bc682e28_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem_services
    ADD CONSTRAINT orders_orderitem_ser_customizationservice_bc682e28_fk_products_ FOREIGN KEY (customizationservice_id) REFERENCES public.products_customizationservice(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem_services orders_orderitem_ser_orderitem_id_15c63c60_fk_orders_or; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem_services
    ADD CONSTRAINT orders_orderitem_ser_orderitem_id_15c63c60_fk_orders_or FOREIGN KEY (orderitem_id) REFERENCES public.orders_orderitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_variant_id_5d350ded_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_variant_id_5d350ded_fk_products_ FOREIGN KEY (variant_id) REFERENCES public.products_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_payment orders_payment_order_id_bdccf250_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_payment
    ADD CONSTRAINT orders_payment_order_id_bdccf250_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_stockreservation orders_stockreservat_variant_id_7068c0fe_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_stockreservation
    ADD CONSTRAINT orders_stockreservat_variant_id_7068c0fe_fk_products_ FOREIGN KEY (variant_id) REFERENCES public.products_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_stockreservation orders_stockreservation_order_id_7fe1d856_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_stockreservation
    ADD CONSTRAINT orders_stockreservation_order_id_7fe1d856_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_branch_id_b6144265_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_branch_id_b6144265_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_category_id_9b594869_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_category_id_9b594869_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productvariant products_productvari_product_id_d9c22902_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvari_product_id_d9c22902_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: suppliers_purchase suppliers_purchase_branch_id_21edb0a6_fk_branches_branch_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchase
    ADD CONSTRAINT suppliers_purchase_branch_id_21edb0a6_fk_branches_branch_id FOREIGN KEY (branch_id) REFERENCES public.branches_branch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: suppliers_purchase suppliers_purchase_supplier_id_9849134e_fk_suppliers; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchase
    ADD CONSTRAINT suppliers_purchase_supplier_id_9849134e_fk_suppliers FOREIGN KEY (supplier_id) REFERENCES public.suppliers_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: suppliers_purchaseitem suppliers_purchaseit_product_id_3353caab_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchaseitem
    ADD CONSTRAINT suppliers_purchaseit_product_id_3353caab_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: suppliers_purchaseitem suppliers_purchaseit_purchase_id_09ac05eb_fk_suppliers; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers_purchaseitem
    ADD CONSTRAINT suppliers_purchaseit_purchase_id_09ac05eb_fk_suppliers FOREIGN KEY (purchase_id) REFERENCES public.suppliers_purchase(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict N6wjXfQYfk0OZ4QAbKuOW3xBqnD5DLDTTdhmhZg7t6nOfiAlq6RSuuS0Zmvmbue

